
td.smallText
{
	font-size:8pt;
	font-family:Arial
}

td.smallerText
{
	font-size:7pt;
	font-family:Arial
}

td.headerText
{
	font-size:10pt;
	font-family:Arial;
	font-weight:bold
}

td.mainText
{
	font-size:9pt;
	font-family:Arial
}

br
{
	font-size:5pt;
}

@media screen, print 
{
   body {margin: .25;}
}

br.breakhere 
{
	page-break-before: always;
	font-size:0pt;
}
