body 
{
  background: #000aaa url('../images/background.gif');
  text-align: center;
  font: .70em "Lucida Grande", "Lucida Sans Unicode", Verdana, Tahoma, Arial, sans-serif;
  color: #000;
}

.clearer{clear: both;}

.error
{
	background-color:#ffaaaa;
	border:1px solid #ff5555;
	margin:2px;
	padding: 2px;
}

#container 
{
  background: #fff url("../images/left2.gif") repeat-y;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 960px; /*750px;*/
  border: 1px solid #000;
}

/* ***************** HEADER ***************** */

#header
{
  position: relative;
  background: url('../images/header2.png');
  height: 78px;
  border-bottom: 1px solid #000;
}

#header ul 
{
  padding-top: 62px;
  margin-top:0px;
  /*
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;
  */
}

#header li
{
  border-top: 1px solid #000;
  display: inline;
  list-style: none;
  float: right;
}

#header li a
{
  background: #fff;
  color: #000;
  text-decoration: none;
  border-left: 1px solid #000;
  padding-left:6px;
  padding-right:6px;
  /*padding: 4px 6px 4px 6px;*/
}

#header li a:hover
{
  background: #ddd;
}

/* ***************** SIDEMENU ***************** */

#sidemenu
{
  float: left;
  width: 220px; /*140px;*/
}

.portlet
{
  background-color: #eeeecc;
  border: 1px solid #000;
  margin: 3px;
  margin-bottom: 6px;
  text-align: justify;
}

.portlet h2
{
  display: block;
  margin: 0;
  padding: 1px;
  background: url("../Images/Themes/Blue/gradient.gif");
  color: #fff;
  font-size: 8pt;
  font-family: tahoma,verdana,arial,geneva,helvetica,serif;
  border-bottom: 1px solid #000;
}

a.menu
{
  display: block;
  font-family: tahoma,verdana,arial,geneva,helvetica,serif;
  font-size: 8pt;
  background-color:#ddddbb;
  border-top: 1px solid #ffffdd;
  border-left: 15px solid #ccccaa;
  border-bottom: 1px solid #ccccaa;
  padding: 3px;
  padding-right: 6px;
  color: #555533;
  text-decoration: none;
}

a.menu:hover
{
  background-color:#eeeecc;
  border-top: 1px solid #eeeecc;
  border-left: 15px solid #bbbb99;
  border-bottom: 1px solid #888866;
  color: #000fff;
}

a.ltr
{
  display: block;
  font-family: tahoma,verdana,arial,geneva,helvetica,serif;
  font-size: 8pt;
  border-top: 1px solid #ccccaa;
  border-right: 1px solid #ccccaa;
  border-left: 1px solid #ffffee;
  border-bottom: 1px solid #ffffee;
  background-color:#eeeecc;
  padding-top:4px;
  padding-bottom:4px;
  text-decoration: none;
}

a.ltr:hover
{
  background-color:#ffffee;
  color: #000fff;
}

a.ltr:visited
{
  color: #000fff;
}

#sidemenu .linkmenu 
{
  margin: 0;
  margin-bottom: 12px;
}

.linkmenu a
{
  display: block;
  text-align: right;
  background-color:#ddddbb;
  border-right: 1px solid #000;
  border-top: 1px solid #ffffdd;
  border-left: 15px solid #ccccaa;
  border-bottom: 1px solid #999977;
  padding: 3px;
  padding-right: 6px;
  color: #555533;
  text-decoration: none;
}

.linkmenu a:hover
{
  background-color:#eeeecc;
  border-top: 1px solid #eeeecc;
  border-left: 15px solid #bbbb99;
  border-bottom: 1px solid #888866;
  color: #000fff;
}

.linkmenu h2
{
  display: block;
  margin: 0;
  padding: 1px;
  background: url("../Images/Themes/Blue/gradient.gif");
  color: #fff;
  font-size: 100%;
  border-bottom: 1px solid #000;
}

/* ***************** CONTENT ***************** */

#content
{
  float: left;
  margin: 3px;
  width: 730px; /*810px;*/
}

