body
{
}

table.centeredTable
{
	margin-left:auto;
	margin-right:auto;
	width:593px;
}

td.portletHeader
{
    font-weight: bold;
    font-size: 8pt;
    color: #ffffff;
    font-family: tahoma,verdana,arial,geneva,helvetica,serif;
    width: 100%;
}

td.portletMain
{
    font-size: 8pt;
    background: #eeeecc;
    color: #000000;
    font-family: tahoma,verdana,arial,geneva,helvetica,serif;
}

td.portletSecondary
{
    font-size: 8pt;
    background: #ddddbb;
    color: #000000;
    font-family: tahoma,verdana,arial,geneva,helvetica,serif;
}

td.portletDark
{
    font-size: 8pt;
    background: #ccccaa;
    color: #000000;
    font-family: tahoma,verdana,arial,geneva,helvetica,serif;
}

td.portletLight
{
    font-size: 8pt;
    background: #ffffee;
    color: #000000;
    font-family: tahoma,verdana,arial,geneva,helvetica,serif;
}

.small
{
    font-size: 8pt;
    font-family: tahoma,verdana,arial,geneva,helvetica,serif;
}

a.link
{
    font-weight: bold;
    font-size: 8pt;
    color: #000000;
	text-decoration: none;
    font-family: tahoma,verdana,arial,geneva,helvetica,serif;
}

a.link:hover
{
  color: #000fff;
}

