<%@ Control Language="c#" Inherits="ICatalog._phatt3_includes.header" CodeFile="header.ascx.cs" %>
<ul>
  <li><a href="http://www.ccs.spokane.edu" title="CCS Internet Site">CCS Internet</a></li>
  <li><a href="http://ccsi.spokane.cc.wa.us" title="CCS Intranet Site">CCS Intranet</a></li>
  <li><a href="http://www.scc.spokane.edu" title="SCC Internet Site">SCC Internet</a></li>
  <li><a href="http://intranet.scc.spokane.edu" title="SCC Intranet Site">SCC Intranet</a></li>
  <li><a href="http://www.spokanefalls.edu" title="SFCC Internet Site">SFCC Internet</a></li>
  <li><a href="http://intranet.spokanefalls.edu" title="SFCC Intranet Site">SFCC Intranet</a></li>
</ul>