<%@ Page language="c#" Inherits="ICatalog.DataTransfer" CodeFile="DataTransfer.aspx.cs" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" > 

<html>
  <head>
    <title>DataTransfer</title>
    <meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
    <meta name="CODE_LANGUAGE" content="C#" />
    <meta name="vs_defaultClientScript" content="JavaScript" />
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
  </head>
  <body>
	
    <form id="Form1" method="post" runat="server">
		<asp:Panel ID="panResults" Runat="server"></asp:Panel>
     </form>
	
  </body>
</html>
